[report] 
omit = *numpy*, *ctypes*, *numbers*, *scipy*, scipy._lib.decorator, *json*, *PIL*, FIxTk, *matplotlib*, *decimal*, *csv*, *distutils*, *dateutil*, *gzip*, *PyQt5*, *cycler* 
show_missing=True
